
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
}

body{
 margin: 0 ; 
}


/* =================
searchbox and cart
================= */

.input{
 border: none;
 width: 300px;
 margin-right: 40px;


}

.search_box{
 border: solid 1px lightgrey;
 background: rgb(231, 174, 100);
 margin-left: 0px;
 margin-right: 20px;
 
}
.fa-search:hover{
transform:scale(1.60);
}

.cartContainer{
 display: flex;
 border: none;
 background: darkgrey;
 align-items: center;
 margin-left: 60px;
 width: 100%;

}

.cartText{
text-align: center;

}


.cartText{
 margin-top: 5px;
 margin-bottom: 5px;
}

.fa-cart-shopping{
 margin-right: 20px;
 cursor: pointer;
}

.fa-cart-shopping:hover, 
.fa-cart-shopping:focus{
 color: #1792d2;
}
/* =================
navigation
================= */
header{
 background: #096ca1;
 margin-bottom: 3em;
 padding: 2em 0;



}

nav{
 width: 100%;
 float: left;
 margin: 0 0 1em 0;
 padding: 0;

 
}
nav ul{
 list-style: none;
 display: flex;
 justify-content: center;
 padding: 0;
 margin: 0 auto;
 
}

nav li{
 margin-right: 0px;
float: left;
 margin-top: 10px;
}

nav a{
 text-decoration: none;
 color: burlywood;
 letter-spacing: 1px;
 padding: .25em 0;

}

.fa-medal{
 font-size: 3em;
}

nav a:hover,
nav a:focus {
 color: #1792d2;
}

.current-page {
 border-bottom: 2px solid rgb(230, 152, 50);
}

.current-page:hover {
 color: #1792d2;
}

@media (max-width: 675px) {
 nav ul {
  flex-direction: column;
 }

 nav li {
  margin: .5em 0;
 }

 .fa-medal{
  margin-right: 20px;
 }

 .search_box{
 display: flex;
 margin-left: 0px;
 width: 70%;
 }
 

 .cartContainer{
position: relative;
right: 60px;
top: 20px;
width: 30%;
 }

  .container2 {
   margin-top: 400px;
   margin-bottom: 50px;
   text-align: center;
   width: 100%;
   height: 200px;
    background-color: #ECF0F1;
 
 
  }

      .AthleticRushTitle {
       margin-bottom: 50px;
      }

            .shopWrapper {
             background: darkgray;
             width: 30%;
             margin: 0 auto;
             margin-bottom: 60px;
             margin-top: 20px;
             cursor: pointer;
             
      
            }
      
            .shopWrapper:hover,
            .shopWrapper:focus {
             color: #1792d2;
            }

                        .AthleticRushImages {
                          width: 250px;
                          height: 250px;
                         
                      
                          
                          justify-content: center;
                          display: flex;
                         margin: 100px auto;
                        
                        }
            .container3 {
              width: 100%;
              height: 100vh;
              margin-top: 1150px;
             background: #FAF9F6;
             margin-left: 0px;
             
      
            }

}

@media (min-width:675px) {
 header{
  text-align: center;
  width: 100%;

 
  

 }

 nav li{
  margin-left: 50px;
 }

 

 .search_box{
  display: flex;
  width: 60%;
  margin-right: 20px;
  margin-left: 30px;

 }

 
 .input{
  width: 30vw;
 }

 .container{
 display: flex;


 

}

    .container2 {
     margin-top: 200px;
     text-align: center;
     width: 100%;
     height: 200px;
     background-color: #ECF0F1;
  
  
    }

    .AthleticRushTitle{
     margin-bottom: 50px;
    }




.cartWrapper{
 width: 15%;
 position: relative;
 right: 160px;

 align-items: center;
}


.shopWrapper {
 background: darkgray;
 width: 10%;
 margin: 0 auto;
 position: relative;
 top: 20px;
 cursor: pointer;


}

.shopWrapper:hover,
.shopWrapper:focus {
 color: #1792d2;
}




.siteLogo{
 margin-top: 10px;
}



.container{

 margin: 0 auto;
 width: 90%;
 max-width: 900px;


}

.AthleticRushImages{
width: 250px;
height: 250px;
overflow-x: hidden;
margin-top: 90px;
margin-bottom: -0px;
margin-left: 50px;
z-index: 3;



}

 .container3 {
  max-width: 50%;
  height: 100vh;
  margin-top: 400px;
background: #FAF9F6;
  display: flex;
  align-items: center;
  justify-content: center;
margin: 0 auto;
position: relative;
top: 380px;
left: 40px;

flex-grow: 2 1 1;

} 

.imagesContainer{
  display: flex;
 justify-content: center;
 

}




}




/* =================
Typography
================= */

.featuredProducts{
  text-align: center;
  margin-top: 60px;
}


/* =================
Layout
================= */


header{
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 z-index: 100;

}


span{
 border-bottom: solid 5px lightgray;
  padding-bottom: 25px;
  


 
}






/* =================
Image SlideShow
================= */


.swiper{
  width: 80%;
  height: fit-content;
}

.swiper-slide img{
  min-width: 100%;
  height: 700px;
  background-size: cover ;
  


  
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: #fff;
}

.swiper .swiper-pagination-bullet-active{
  background: #fff;
}